/* Legacy */
/* body {
  overflow-y: none;
} */
html,body {
    /* height: 100%; */
    margin:0;
    /* color: white;
    background-color: black; */
    background-color: black;
    color: #d4d3d2;
    background-image: url('/imgs/blackbackground.jpg'); 
    background-repeat: repeat-x;
}
body, p, li, a {
  /* font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;  */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.2rem;
}

li {
  margin-bottom: 15px;
  list-style: square;
}

li::marker {
  color: #d4d3d2;
}

a {
  text-decoration: none;
  color: #d4d3d2;
}
h1 {
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  /* margin: 1em 0em; */
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
h3, .skill-type {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  background-color: #1a1a1a;
  box-shadow: 0 0 5px 5px rgba(242, 242, 241, 0.2);
  color: #d4d3d2;
}

.education-image, .exp-image {
  box-shadow: 0 0 5px 5px rgba(242, 242, 241, 0.2);
}

/* Sidebar styling */
.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
  }
  
  .nav-pills .nav-link {
    color: #fff;
    font-size: 1.1rem;
  }

  .nav-link:hover {
    background-color: #53d769;
  }
  
  .nav-pills .nav-link.active {
    background-color: #147efb;
  }
  
  .nav-pills .nav-link i {
    margin-right: 8px;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
  }

  /* About Me */
  .about-me-text {
    text-align: justify;
    text-justify: inter-word;
  }
  .contact-info {
    font-size: 1.5rem;
  }
  #contact-bubble {
    background-color: #147efb;
    border-radius: 50px;
  }

  /* Skills */
  .table-row:hover {
    background-color: #53d769;
  }
  .table-responsive {
    filter: drop-shadow(0 0 5px #d4d3d2);
  }
  .skills-header {
    text-align: center;
  }
  .skill-type {
    text-align: center;
    font-size:  2rem;
  }

  /* Accordion */
  .accordion-button {
    background-color: #147efb;
    border-bottom: 2px solid black;
    color: #d4d3d2;
    font-size: 1.5rem;
  }
  .accordion-button.active {
    background-color: #53d769;
  }
  .accordion-button:hover {
    color: white;
    background-color: #53d769;
  }
  .accordion-flush {
    background-color: rgba(242, 242, 241, 0.2);
    background-color: #53d769;
  }
  .accordion-body {
    background-color: #1a1a1a;
    color: #d4d3d2;
  }



  /* Education */
  .education-image {
    width: 250px;
  }
  .cert-date {
    margin: 1em 0em;
  }
.sg-badge:hover, .education-image:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.sg-badge:hover {
  filter: drop-shadow(0 3px 10px #53d769);
}
.education-image:hover {
  filter: drop-shadow(0 3px 10px #147efb);
}
.sg-badge {
  filter: drop-shadow(0 3px 8px #d4d3d2);
}
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  